* {
  box-sizing: border-box;
}

/* brand color palette */
:root 

  .first-color { 
    background: #ffcbcb; 
  }
    
  .second-color { 
    background: #c47070; 
  }
  
  .third-color { 
    background: #407088; 
  }
  
  .fourth-color { 
    background: #745189; 

  
  --primary: #ffcbcb;
  --secondary: #ffb5b5;
  --tertiary: #407088;
  --fourth: #745189; 
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
  }

 
  

body {
  margin: 0;
  padding: 1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--primary);
  background-image: url("../Images/casey-horner-RmoWqDCqN2E-unsplash.jpg");
  line-height: 1.2;
  font-size: 27px;
  font-style: italic;
  font-style: bold;
  

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(104, 235, 239, 0.4);
}

header h1 {
  color:rgb(255, 255, 254);
  background-image: url("../Images/casey-horner-RmoWqDCqN2E-unsplash.jpg");
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 40px;
  line-height: 1;
  font-style: italic;
  font-style: italic;
  
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 1px 5px;
  color: var(--secondary);
  margin-right: 8px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 15px;
  flex: auto;
  
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a {
  margin-right: 0;
  font-size: 25px;
  color:rgb(255, 255, 254);
  font-style:bold;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
  
}

.main-banner {
  background: rgb(126, 131, 137);
  background-image: url("../Images/alexandru-acea-XEB8y0nRRP4-unsplash.jpg"), url("../images/alexander-andrews-fsH1KjbdjE8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 60vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  flex: content;
}


.main-banner div {
  flex: 0 0 90%;
}

.main-banner h2 {
  background-image: url("../Images/miguel-delmar-W4qWlYbYqI4-unsplash.jpg");
  color: var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
  font-style: italic, bold;
  color:orangered
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  text-size-adjust: 80vh;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: left;
  padding-right: 1px;
  border-right: 3px solid var(--primary);
  font-size: 40px;
  line-height: 1;
  color:rgb(255, 255, 254);
  background-image: url("../Images/miguel-delmar-W4qWlYbYqI4-unsplash.jpg");
 
  
  
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
  font-size: 25px;
  color:rgb(255, 255, 254);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 350px;
  max-height: 350px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 1 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  transition: all 0.5s;
  font-size: 0.9rem;
  background-size: cover;
}

/* all my projects images and portfolio item */

/*targeting the first element quickly inside another element*/
/* by calling :first-child in the "flex-item" same for hover*/

.flex-item:first-child {
    min-height: 600px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  color: orangered;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 25px;
 
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 2px;
  text-decoration: underline;
  font-size: 25px;
  font-style: bold;
  font-style: italic;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
  color:rgb(255, 255, 254);
  font-size: 20px;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

/* my portfolio project images here */
.ai-websites {
  background-image: url("../Images/alex-knight-2EJCSULRwC8-unsplash.jpg");
  border-radius: 8px;
}

.bi-website {
  background-image: url("../Images/tai-bui-BjcyfRxpdfQ-unsplash.jpg");
  border-radius: 8px;
}

.mobile-project {
  background-image: url("../Images/tai-bui-Jd-BdaYn1RE-unsplash.jpg");
  border-radius: 8px;
}


.jch-porject {
  background-image: url("../Images/tai-bui-UEcMwycMYg8-unsplash.jpg");
  border-radius: 8px;
}

.run-code {
  background-image: url("../Images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  border-radius: 8px;
}

/* adding my media query for my webpage here*/

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
    flex: content;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 17px;
  }
}

@media screen and (max-width: 990px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 200px;
  }

  .main-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction:row;
    align-items: flex-start;
    font-size: 3vw;
  }
}
