* {
  margin: 0;
  padding: 0;
}

:root {
  --space-cadet: #21295cff;
  --dark-cornflower-blue: #1b3b6fff;
  --blue-sapphire: #065a82ff;
  --cg-blue: #1c7293ff;
  --pewter-blue: #9eb3c2ff;
  --silver-pink: hsla(13, 13%, 65%, 1);
  --misty-rose: hsla(17, 94%, 94%, 1);
  --unbleached-silk: hsla(21, 85%, 87%, 1);
  --green-sheen: hsla(173, 36%, 55%, 1);
  --celeste: hsla(178, 94%, 87%, 1);
  --champagne-pink: #efd9ceff;
  --mauve: #dec0f1ff;
  --maximum-blue-purple: #b79cedff;
  --medium-purple: #957fefff;
  --medium-slate-blue: #7161efff;

}

body {
  background-image: url(https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  /*background-color: var(--color-primary);*/
}

nav span {
  /*background: var(--color-secondary);*/
  padding: 15px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
}

.jumbo {
  height: 300px;
  background-size: cover;
  background-image: url("https://unsplash.com/photos/2EJCSULRwC8";
  background-position: center center;
  position: relative;
}

.cool-title {
  position: absolute;
  bottom: 30px;
  right: 80px;
  background-color: var(--color-primary);
  padding: 10px;
}

main section {
  display: flex;
  margin: 20px 100px;
  justify-content: space-between;
}

main section .title {
  font-size: 40px;
  width: 25%;
  border-right: solid 3px var(--color-secondary);
  text-align: right;
  padding-right: 10px;
}

main section .content {
  width: 70%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  flex: 1 0 300px;
  margin: 10px;
  height: 200px;
  background-color: lightblue;
  position: relative;
}

.project.featured {
  flex: 2 1 800px;
}

.project-name {
  position: absolute;
  left: 0px;
  bottom: 20px;
  background-color:url ;
  padding: 20px;
}

.contact-info ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

/* media query */
@media screen and (max-width: 660px) {
  main section {
      flex-direction: column;
  }

  main section .title {
      width: 100%;
      text-align: left;
      border-right: none;
      border-bottom: solid 3px var(--color-secondary);
  }

  main section .content {
      width: 100%;
  }
}